@model Employee_EFDFA.Models.Employee

@{
    ViewBag.Title = "AddEmployee";
}

<div class="container mt-4">
    <h2 class="text-center text-white py-2 mb-4" style="background-color: yellowgreen;">Add New Employee</h2>

    @using (Html.BeginForm("AddEmployee", "Employee", FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

        <div class="mb-3">
            @Html.LabelFor(e => e.Ename, htmlAttributes: new { @class = "form-label" })
            @Html.TextBoxFor(e => e.Ename, new { @class = "form-control", placeholder = "Enter employee name" })
            @Html.ValidationMessageFor(e => e.Ename, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(e => e.Job, htmlAttributes: new { @class = "form-label" })
            @Html.TextBoxFor(e => e.Job, new { @class = "form-control", placeholder = "Enter job title" })
            @Html.ValidationMessageFor(e => e.Job, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(e => e.Salary, htmlAttributes: new { @class = "form-label" })
            @Html.TextBoxFor(e => e.Salary, new { @class = "form-control", placeholder = "Enter salary" })
            @Html.ValidationMessageFor(e => e.Salary, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.Label("Department", htmlAttributes: new { @class = "form-label" })
            @Html.DropDownList("Did", (SelectList)ViewBag.Departments, "- Select Department -", new { @class = "form-select" })
            @Html.ValidationMessage("Did", "", new { @class = "text-danger" })
        </div>

        <div class="d-flex justify-content-between">
            <input type="submit" value="Save" class="btn btn-success" />
            <input type="reset" value="Reset" class="btn btn-secondary" />
            @Html.ActionLink("Back to Employee List", "DisplayEmployees", null, new { @class = "btn btn-outline-primary" })
        </div>
    }
</div>


